* {
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

.inline {
  display: inline !important;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.fixed {
  position: fixed;
}

.content {
  position: relative;
  top: 50vh;
  @include transform(translateY(-50%));
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    color: black;
  }
}

h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  position: fixed;
  z-index: 998;
  top: 50vh;
  left: 50vw;
  @include transform(translate(-50%, -50%));
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(198, 198, 198, 0.75);
}

#overlay-about {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;

  p {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 28px;
    line-height: 56px;
    padding: 20px 40px;
    text-align: justify;

    #name {
      font-family: 'Libre Barcode 39 Extended Text', cursive;
      font-size: 32px;
    }

    #twat {
      font-family: 'Asset', serif;
      color: #cf0000;
    }

    #website {
      font-family: 'UnifrakturMaguntia', cursive;
      color: #0100ff;
      font-size: 32px;
    }

    #cheeky {
      font-family: 'Fugaz One', cursive;
      color: #ff6e00;
      font-size: 32px;
    }

    #fuck {
      font-family: 'Courier', monospace;
      color: #891cee;
      font-size: 32px;
    }

    #letterA {
      font-family: 'Kumar One', cursive;
      color: #f9ff00;
      font-size: 32px;
    }

    #letterB {
      font-family: 'Kumar One', cursive;
      color: #00ff33;
      font-size: 32px;
    }
  }

  .close {
    position: absolute;
    right: 10px;
    top: -10px;
    padding: 0;
  }
}

#overlay-fact {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;

  #fact {
    background-color: #fff;
    width: 600px;
    height: 400px;
    position: relative;
    left: 50vw;
    padding: 20px;
    @include transform(translate(-50%, -50%));
  }

  p {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: justify;
  }

  h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
  }

  .close {
    position: absolute;
    right: 10px;
    top: -10px;
    font-size: 28px;
    padding: 10px;
  }
}

#about {
  font-family: 'UnifrakturMaguntia', cursive;
  position: fixed;
  left: 10px;
  font-size: 18px;
  z-index: 11;
  top: 50vh;
  @include transform(rotate(-90deg));

  &:hover {
    cursor: pointer;
  }
}

#scroll {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 18px;
  width: 100vw;
  bottom: 10px;
}

#photos {
  width: 100vw;
  height: 100%;
  position: absolute;

  img {
    z-index: 10;
    @include transition(all 0.5s ease);

    &:hover {
      cursor: pointer;
      //@include transform(rotate3d(0, 0, 1, 180deg));
      @include transition(all 0.5s ease);
    }
  }

  #type {
    margin-top: 50px;
    margin-left: 75px;
  }

  #beer {
    margin-top: -50px;
    margin-right: 100px;
  }

  #whiskey {
    margin-left: 200px;
  }

  #fax {
    margin-top: 50px;
    margin-right: 200px;
  }

  #edison {
    margin-top: -50px;
    margin-left: 125px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    font-size: 24px;
    line-height: 32px;
    font-family: 'Helvetica Neue', sans-serif;
    visibility: hidden;
    background-color: #fff;
    color: #000;
    text-align: left;
    width: 300px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }

  &:hover {
    .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
  }
}
